* {
    font-family: Calibri, sans-serif;
}

.timeTrackingList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

#timeTrackingListHead {
    font-weight: bold;
}

.timeTrackingListElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.timeTrackingListElementColumn {
    flex-basis: 0;
}

.flexGrow1 {
    flex-grow: 1;
}

.flexGrow2 {
    flex-grow: 2;
}

.flexGrow3 {
    flex-grow: 3;
}

.noUserSelect {
    user-select: none;
}