* {
    font-family: Calibri, sans-serif;
    color: white;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg,
            lawngreen 0%,
            cyan 40%,
            cyan 60%,
            blue 100%
    );
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

#pageHeadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

#pageHeading {
    width: fit-content;
    font-weight: bolder;
    font-size: xxx-large;
}

.boxHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 10px;
}

#functionBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
}

#newTimeTrackingEntry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
}

.deleteEntryButton {
    width: fit-content;
}

.timeTrackingList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

#timeTrackingListHead {
    font-weight: bold;
}

.timeTrackingListElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.timeTrackingListElementColumn {
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#timeTrackingListHeadAction, .timeTrackingListElementActionColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#timeTrackingListFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    user-select: none;
}

.lightBackground {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 10px 8px 10px;
}

.darkBackground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    background: rgba(0, 0, 50, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
}

.deleteButton {
    color: rgb(255, 120, 120);
    background: rgba(255, 120, 120, 0.25);
    font-weight: bold;
}

.deleteButton:hover {
    background: rgba(255, 120, 120, 0.4);
}

input, select {
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 150ms ease-in-out;
    color-scheme: dark;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px;
}

option {
    background-color: #282828;
    font-weight: bold;
}

button {
    background: rgba(255, 255, 255, 0.25);
    transition: background-color 150ms ease-in-out;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px;
}

#filterIndicatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#filterIndicator {
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    margin-left: 5px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

#timeTrackingListFooterCount, #timeTrackingListFooterTotalHours {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filterIndicatorActive {
    background: rgba(255, 150, 0, 0.25);
    color: rgb(255, 150, 0);
}

.filterIndicatorInactive {
    background: rgba(50, 150, 255, 0.25);
    color: rgb(50, 150, 255);
}

.filterIndicatorActive:hover {
    background: rgba(255, 150, 0, 0.4);
}

button:hover {
    background: rgba(255, 255, 255, 0.35);
}

input:hover, select:hover {
    background: rgba(255, 255, 255, 0.2);
}

::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.flexGrow1 {
    flex-grow: 1;
}

.flexGrow2 {
    flex-grow: 2;
}

.flexGrow3 {
    flex-grow: 3;
}

.flexGrow4 {
    flex-grow: 4;
}

.flexGrow5 {
    flex-grow: 5;
}

.noUserSelect {
    user-select: none;
}